.cell {
  width: 32px;
  height: 32px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease;
  user-select: none;
}

.cell--hidden {
  background-color: #c0c0c0;
  border: 2px outset #fff;
}

.cell--hidden:hover {
  background-color: #d0d0d0;
}

.cell--hidden:active {
  border-style: inset;
}

.cell--revealed {
  background-color: #e0e0e0;
  border: 1px solid #999;
}

.cell--mine {
  background-color: #ff4444;
}

.cell--flagged {
  background-color: #c0c0c0;
}

/* Number colors for adjacent mine counts */
.cell--number-1 {
  color: #0000ff;
}

.cell--number-2 {
  color: #008000;
}

.cell--number-3 {
  color: #ff0000;
}

.cell--number-4 {
  color: #000080;
}

.cell--number-5 {
  color: #800000;
}

.cell--number-6 {
  color: #008080;
}

.cell--number-7 {
  color: #000000;
}

.cell--number-8 {
  color: #808080;
}
